@import '../node_modules/normalize.css/normalize';
@import '../node_modules/bulma/sass/utilities/initial-variables';
@import '../node_modules/bulma/sass/utilities/functions';
$family-sans-serif: 'Blogger Sans', sans-serif;
$grey-dark: #393e46;
$grey-darker: #222831;
$turquoise: #00adb5;
$white-ter: #eee;
$footer-background-color: $grey-darker;
$modal-content-width: 500px;
$card-header-color: $grey-dark;
$card-header-weight: 400;
$content-heading-weight: $weight-normal;
@import '../node_modules/bulma/bulma';

body {
  background: linear-gradient($white, $white-ter);
  padding-top: 3.25rem;
}

.blur {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.button,
.content h1,
.input,
.label,
a,
a.navbar-item:hover,
a:hover {
  color: $text;
}

.button,
.button:hover,
a.navbar-item,
a.navbar-item:hover {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.underline {
  border-bottom: 2px solid $turquoise;
}

.card {
  height: 100%;
}

.card-header-icon {
  cursor: default;
}

.card-content {
  padding: 3rem 1.5rem;
}

#notification-icon i {
  font-size: 2.5rem;
}

#close-notification {
  margin-top: 20px;
}

footer,
footer a,
footer a:hover {
  color: $white-ter;
}

footer .icon {
  margin: 0 10px;
}

.counter {
  display: none;
}
@import '../node_modules/hover.css/scss/hover';
