@import '../node_modules/normalize.css/normalize';
@import '../node_modules/bulma/sass/utilities/initial-variables';
@import '../node_modules/bulma/sass/utilities/functions';
@import './fonts';

$family-sans-serif: 'Blogger Sans', sans-serif;

$grey-dark: #393e46;
$grey-darker: $grey-dark;
$turquoise: #00adb5;
$white-ter: #eee;
$custom-footer: #222831;

$footer-background-color: $custom-footer;
$modal-content-width: 500px;

@import '../node_modules/bulma/bulma';

@mixin fade {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

body {
  background: linear-gradient($white, $white-ter);
}

.container {
  max-width: 1000px;
}

#hello {
  .container {
    padding-top: 3.25rem;
  }
}

.title,
.card-header-title {
  font-weight: 400;
}

a {
  color: inherit;

  &:hover {
    color: inherit;
  }

  &.navbar-item {
    @include fade;

    &:hover {
      color: $text;
      @include fade;
    }
  }
}

.underline {
  border-bottom: 2px solid $turquoise;
}

.button {
  @include fade;

  &:hover {
    @include fade;
  }
}

footer {
  .icon {
    margin: 0 10px;
  }
}

// notifcations
#close-notification {
  margin-top: 20px;
}

#notification-icon i {
  font-size: 2.5rem;
}

.blur {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.modal-content {
  max-width: 90%;
}

// cards
.card {
  height: 100%;
}

.card-header-icon {
  cursor: default;
}

.card-content {
  padding: 3rem 1.5rem;
}

.counter {
  display: none;
}

.error-page {
  padding: 0;

  .underline {
    border-bottom: 2px solid $white;
  }
}

// formvalidator fix
input.valid:hover {
  border-color: #468847;
}

@import '../node_modules/hover.css/scss/hover';
@import '../node_modules/balloon-css/balloon.min';

// custom balloons
[data-balloon] {
  &::after {
    background: $turquoise;
    color: $white-ter;
    font-family: $family-sans-serif !important;
  }

  &[data-balloon-pos='down'] {
    &::after {
      margin-top: 22px;
    }

    &::before {
      background: none;
      border-bottom: 6px solid $turquoise;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      height: 0;
      margin-top: 16px;
      width: 0;
    }
  }
}
