@import '../node_modules/normalize.css/normalize';
@import '../node_modules/bulma/sass/utilities/initial-variables';
@import '../node_modules/bulma/sass/utilities/functions';
@import './_fonts';
$family-sans-serif: 'Blogger Sans', sans-serif;
$grey-dark: #393e46;
$grey-darker: #222831;
$turquoise: #00adb5;
$white-ter: #eee;
$footer-background-color: $grey-darker;
$modal-content-width: 500px;
$card-header-color: $grey-dark;
$card-header-weight: 400;
$content-heading-weight: $weight-normal;
@import '../node_modules/bulma/bulma';
@mixin fade {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

body {
  background: linear-gradient($white, $white-ter);
  padding-top: 3.25rem;
}

a {
  color: $text;

  &:hover {
    color: $text;
  }

  &.navbar-item {
    @include fade;

    &:hover {
      @include fade;
      color: $text;
    }
  }
}

footer {
  color: $white-ter;

  a {
    color: $white-ter;

    &:hover {
      color: $white-ter;
    }
  }

  .icon {
    margin: 0 10px;
  }
}

#close-notification {
  margin-top: 20px;
}

#notification-icon i {
  font-size: 2.5rem;
}

.blur {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.button {
  @include fade;
  color: $text;

  &:hover {
    @include fade;
  }
}

.card {
  height: 100%;
}

.card-header-icon {
  cursor: default;
}

.card-content {
  padding: 3rem 1.5rem;
}

.content h1,
.input,
.label {
  color: $text;
}

.counter {
  display: none;
}

.error-page {
  padding: 0;

  h1 {
    color: #fff;
  }

  .underline {
    border-bottom: 2px solid #fff;
  }
}

.underline {
  border-bottom: 2px solid $turquoise;
}
/* formvalidator fix */
input.valid:hover {
  border-color: #468847;
}
@import '../node_modules/hover.css/scss/hover';
@import '../node_modules/balloon-css/balloon.min';

/* custom balloons */
[data-balloon] {
  &::after {
    background: $turquoise;
    color: $white-ter;
    font-family: $family-sans-serif !important;
  }

  &[data-balloon-pos='down'] {
    &::after {
      margin-top: 22px;
    }

    &::before {
      background: none;
      border-bottom: 6px solid $turquoise;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      height: 0;
      margin-top: 16px;
      width: 0;
    }
  }
}
